{% extends 'base.html' %}

{% block title %}Share Your Story - The Explorer's Post{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="story-list-container create-page">
    <h1>Create a New Story</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }} <!-- Crispy Forms handles form styling -->
        <div class="action-buttons">
            <button type="submit" class="btn custom-btn">Submit Story</button>
        </div>
    </form>
</div>
{% endblock %}
