{% extends 'base.html' %}

{% block title %}Welcome to The Explorer's Post{% endblock %}

{% block content %}
<div class="story-list-container explore-stories my-4">
    <div class="row">
        {% for story in stories %}
        <div class="col-md-4">
            <div class="card mb-4 custom-card">
                <div class="card-body">
                    <h5 class="card-title">{{ story.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By {{ story.author }}</h6>
                    <p class="card-text">{{ story.content|truncatewords:20 }}</p>
                    <a href="{% url 'story_detail' story.slug %}" class="btn custom-btn">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
