{% extends 'base.html' %}

{% block title %}Sign Up - The Explorer's Post{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h1>Sign Up</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn custom-btn primaryAction">Sign Up</button>
        </form>
        <a href="{% url 'account_login' %}" class="secondaryAction">Already have an account? Sign In</a>
    </div>
</div>
{% endblock %}
