body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%; /* Ensures content fills at least the full viewport height */
    display: flex;
    flex-direction: column; /* Stacks header, content, and footer vertically */
}

.content {
    flex: 1; /* Allows the main content to take up available space */
}

.landing-page {
    position: relative;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Send carousel to the back */

}

.carousel-inner {
    height: 100%;
}

.carousel-item img {
    object-fit: cover; /* Ensures the image covers the area */
    width: 100%;
    height: 70%;
}

.content {
    position: relative;
    z-index: 2; /* Bring content above carousel */
    text-align: center;
    color: white;
}

.content h1, .content p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds readability */
}

footer {
    background-color: #333; /* Example background color */
    color: white; /* Footer text color */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%; /* Makes sure the footer spans the entire width */
    z-index: 10;
}