{% extends 'base.html' %}

{% block title %}Welcome to The Explorer's Post{% endblock %}

{% block content %}
<div class="landing-page">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/colosseum.jpg" alt="Photo of the Colosseum">
            </div>
            <div class="carousel-item">
                <img src="/static/images/northenlights.jpg" alt="Photo of the Northern Lights">
            </div>
            <div class="carousel-item">
                <img src="/static/images/pyramids.jpg" alt="Photo of the Pyramids">
            </div>
        </div>
    </div>

    <!-- Text Overlay -->
    <div class="content-overlay">
        <h1>Welcome to The Explorer's Post</h1>
        <h3>Explore the world's most iconic destinations, 
            through the eyes of everyday travellers!
        </h3>
        <p>Discover captivating stories from fellow travelers 
            and share your own adventures. 
            Keep cherished memories alive and inspire others 
            to embark on their next journey!
    </p>
        <a href="{% url 'story_list' %}" class="btn btn-primary custom-btn">Explore Stories</a>
        <a href="{% url 'create_story' %}" class="btn btn-primary custom-btn">Share Your Story</a>
    </div>
</div>
{% endblock %}
